body {
  background-color: white;
}

.header {
  background-color: rgb(233, 236, 239);
  height: 8%;
  border-bottom-left-radius: 8px;
}

.logo img {
  height: 60px;
  width: auto;
}

.hbody img {
  height: 270px;
  width: auto;
}

.hinfo p {
  font-size: 15px;
}

.hbody h2,
.footer h2 {
  font-size: 25px;
}

.cimg img {
  height: 60px;
}

.ctxt p {
  font-size: 14px;
}

.feverimg {
  height: 300px;
  width: auto;
}